<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.DeviceEventMapper">

    <resultMap type="DeviceEvent" id="DeviceEventResult">
        <result property="id"    column="id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="warningLevel"    column="warning_level"    />
        <result property="warningContent"    column="warning_content"    />
        <result property="warningTime"    column="warning_time"    />
        <association property="deviceInfo" javaType="DeviceInfo" resultMap="DeviceInfoResult"></association>
    </resultMap>

    <resultMap type="DeviceInfo" id="DeviceInfoResult">
        <result property="deviceName" column="device_name"/>
        <result property="deviceModel" column="device_model"/>
        <result property="manufacturer" column="manufacturer"/>
        <result property="deviceIp1" column="device_ip1"/>
        <result property="deviceIp2" column="device_ip2"/>
        <result property="deviceIp3" column="device_ip3"/>
        <result property="deviceIp4" column="device_ip4"/>
        <result property="deviceIp5" column="device_ip5"/>
        <result property="deviceIp6" column="device_ip6"/>
        <result property="deviceIp7" column="device_ip7"/>
        <result property="deviceIp8" column="device_ip8"/>
        <result property="installDate" column="install_date"/>
        <result property="location" column="location"/>
        <result property="note" column="note"/>
    </resultMap>

    <sql id="selectDeviceEventVo">
            SELECT
        t.id,
        device_id,
        warning_level,
        warning_content,
        warning_time,
        device_name,
        device_model,
        manufacturer,
        device_ip1,
        device_ip2,
        device_ip3,
        device_ip4,
        device_ip5,
        device_ip6,
        device_ip7,
        device_ip8,
        install_date,
        location
    FROM
        device_event AS t
            LEFT JOIN
        device_info AS i ON t.device_id = i.id
        left join
        sys_dept as d on i.dept_id = d.dept_id
    </sql>

    <select id="selectDeviceEventList" parameterType="DeviceEvent" resultMap="DeviceEventResult">
        <include refid="selectDeviceEventVo"/>
        <where>
            <if test="deviceInfo !=null and deviceInfo.deviceName != null "> and device_name like concat('%', #{deviceInfo.deviceName}, '%')</if>
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="warningLevel != null "> and warning_level = #{warningLevel}</if>
            <if test="warningContent != null  and warningContent != ''"> and warning_content = #{warningContent}</if>
            <if test="updateTimeBegin != null and updateTimeBegin != ''"> and warning_time >= #{updateTimeBegin}</if>
            <if test="updateTimeEnd != null and updateTimeEnd !=''"> and warning_time <![CDATA[<=]]> concat( #{updateTimeEnd}, ' 23:59:59')</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectDeviceEventById" parameterType="Long" resultMap="DeviceEventResult">
        <include refid="selectDeviceEventVo"/>
        where id = #{id}
    </select>

    <insert id="insertDeviceEvent" parameterType="DeviceEvent" useGeneratedKeys="true" keyProperty="id">
        insert into device_event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="warningLevel != null">warning_level,</if>
            <if test="warningContent != null">warning_content,</if>
            <if test="warningTime != null">warning_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="warningLevel != null">#{warningLevel},</if>
            <if test="warningContent != null">#{warningContent},</if>
            <if test="warningTime != null">#{warningTime},</if>
         </trim>
    </insert>

    <update id="updateDeviceEvent" parameterType="DeviceEvent">
        update device_event
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="warningLevel != null">warning_level = #{warningLevel},</if>
            <if test="warningContent != null">warning_content = #{warningContent},</if>
            <if test="warningTime != null">warning_time = #{warningTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeviceEventById" parameterType="Long">
        delete from device_event where id = #{id}
    </delete>

    <delete id="deleteDeviceEventByIds" parameterType="String">
        delete from device_event where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
